<nav id="sidebar">
  <div id="first-nav">
    <div>
      <a href="/catalog">
        <i class="fa-solid fa-house"></i>
          Home
      </a>
    </div>
    <div>
      <a href="/catalog/books">
        <i class="fa-solid fa-book"></i>
          Books
      </a>
    </div>
    <div>
      <a href="/catalog/authors">
        <i class="fa-solid fa-user"></i>
          Authors
      </a>
    </div>
    <div>
      <a href="/catalog/genres">
        <i class="fa-solid fa-wand-sparkles"></i>
          Genres
      </a>
    </div>
  </div>

  <div id="second-nav">
    <a href="/catalog/bookinstances">All book copies</a>
    <a href="/catalog/author/create">Create author</a>
    <a href="/catalog/genre/create">Create genere</a>
    <a href="/catalog/book/create">Create book</a>
    <a href="/catalog/bookinstance/create">Create copy</a>
  </div>
</nav>