extends layout

block content
  h1 Add New Entry
  form(action="/library/add" method="POST")
    label(for="title") Title:
    input(type="text" id="title" name="title" required)
    label(for="author") Author:
    input(type="text" id="author" name="author" required)
    label(for="pages") Pages:
    input(type="number" id="pages" name="pages" required)
    button(type="submit") Add Entry
