extends layout

block content
  h1 Edit Entry
  form(action=`/library/edit/${entry._id}` method="POST")
    label(for="title") Title:
    input(type="text" id="title" name="title" value=entry.title required)
    label(for="author") Author:
    input(type="text" id="author" name="author" value=entry.author required)
    label(for="pages") Pages:
    input(type="number" id="pages" name="pages" value=entry.pages required)
    button(type="submit") Update Entry
